<ion-item>
  <ion-row class="ion-padding-horizontal ion-align-items-center">
    <!-- Left -->
    <ion-col size="1"></ion-col>
    <ion-col size="5">
      <ion-text>
        If you want to get in touch, don't hesitate to email me or leave a
        message on LinkedIn.
      </ion-text>
    </ion-col>
    <!-- Center -->
    <ion-col size="3" class="ion-text-right">
      <a
        href="https://github.com/wajeehmisbahkhan/wajeehmisbahkhan"
        target="_blank"
        class="nostyle ion-text-uppercase"
      >
        <ion-text>
          View Source Code
        </ion-text>
      </a>
    </ion-col>
    <!-- Right -->
    <ion-col size="3" class="ion-text-right">
      <a
        href="mailto:wajeehmisbahkhan@yahoo.com"
        target="_blank"
        class="nostyle ion-icon-container"
      >
        <ion-icon name="mail" class="ion-padding-right" size="large"></ion-icon>
      </a>
      <a
        href="https://www.linkedin.com/in/wajeeh-misbah-khan-3ab873139/"
        target="_blank"
        class="nostyle ion-icon-container"
      >
        <ion-icon
          name="logo-linkedin"
          class="ion-padding-right"
          size="large"
        ></ion-icon>
      </a>
      <a
        href="https://github.com/wajeehmisbahkhan"
        target="_blank"
        class="nostyle ion-icon-container"
      >
        <ion-icon name="logo-github" size="large"></ion-icon>
      </a>
    </ion-col>
  </ion-row>
</ion-item>
