<ion-toolbar>
  <!-- Projects -->
  <ion-buttons
    slot="start"
    class="left-spacing"
    [routerLink]="['/', 'projects']"
    routerDirection="root"
  >
    <ion-text class="ion-padding-start">
      Projects
    </ion-text>
    <span class="ion-padding-start ion-hide-md-down">
      <ion-icon name="layers"></ion-icon>
    </span>
  </ion-buttons>
  <!-- Home -->
  <ion-title class="ion-text-center">
    <span class="theme-toggler" (click)="toggleDarkIcon()">
      <ion-icon [name]="oppositeIcon" color="warning"></ion-icon>
    </span>
    <span [routerLink]="['/']" routerDirection="root">
      <span class="ion-hide-sm-down">Wajeeh Misbah Khan</span>
      <span class="ion-hide-sm-up">WMK</span>
    </span>
  </ion-title>
  <!-- Contact Me -->
  <ion-buttons
    slot="end"
    class="right-spacing"
    [routerLink]="['/', 'contact-me']"
    routerDirection="root"
  >
    <span class="ion-padding-end ion-hide-md-down">
      <ion-icon name="call"></ion-icon>
    </span>
    <ion-text class="ion-padding-end">
      Contact Me
    </ion-text>
  </ion-buttons>
</ion-toolbar>
