<ion-header class="ion-text-uppercase">
  <header></header>
</ion-header>
<ion-content>
  <div class="left-spacing right-spacing ion-padding">
    <ion-title class="ion-padding-vertical ion-text-center">
      <h1>Projects</h1>
    </ion-title>
    <ion-text
      >This is a non-comprehensive list of projects I have worked over they
      years. If you have any questions about a particular project, you can
      <a
        class="nostyle"
        [routerLink]="['/', 'contact-me']"
        routerDirection="root"
      >
        <ion-text color="warning">contact me</ion-text>
      </a>
      and get more info.</ion-text
    >
  </div>
  <div *ngFor="let project of projects" class="left-spacing right-spacing">
    <ion-card>
      <ion-row class="ion-align-items-center ion-margin-vertical">
        <!-- Picture -->
        <ion-col class="ion-padding-start" size="3">
          <ion-img
            [src]="project.pictureUrl"
            [alt]="'Project: ' + project.title"
          ></ion-img>
        </ion-col>
        <!-- Details -->
        <ion-col class="ion-no-padding" size="9">
          <ion-card-header>
            <ion-card-title>{{ project.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>
              <ion-text>{{ project.subtitle }}</ion-text>
            </ion-card-subtitle>
            <ion-text class="description ion-padding-vertical"
              >{{ project.description }}</ion-text
            >
            <a
              *ngIf="project.githubUrl"
              target="_blank"
              [href]="project.githubUrl"
              class="view-link"
            >
              <ion-button color="success">
                <ion-text color="light">
                  View Code
                  <ion-icon name="arrow-forward"></ion-icon>
                </ion-text>
              </ion-button>
            </a>
            <a
              *ngIf="project.viewUrl"
              target="_blank"
              [href]="project.viewUrl"
              class="view-link"
            >
              <ion-button color="light">
                <ion-text color="dark">
                  View Project
                  <ion-icon name="arrow-forward"></ion-icon>
                </ion-text>
              </ion-button>
            </a>
            <a
              *ngFor="let skill of project.skillsUsed"
              target="_blank"
              [href]="skill.infoUrl"
              class="nostyle"
            >
              <ion-chip [color]="getSkillColor(skill)">
                <ion-avatar>
                  <img [src]="skill.pictureUrl">
                </ion-avatar>
                <ion-label>{{ skill.text }}</ion-label>
              </ion-chip>
            </a>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <footer></footer>
</ion-content>
