<ion-header class="ion-text-uppercase">
  <header></header>
</ion-header>
<ion-content>
  <div class="left-spacing right-spacing ion-padding-vertical">
    <ion-title class="ion-padding-vertical">Projects</ion-title>
    <ion-text class="ion-padding">Text about the projects</ion-text>
  </div>
  <div *ngFor="let project of projects" class="left-spacing right-spacing">
    <ion-row>
      <!-- Picture -->
      <ion-col size="3">
        <ion-img
          [src]="project.pictureUrl"
          [alt]="'Project: ' + project.title"
          width="100%"
        ></ion-img>
      </ion-col>
      <ion-col size="9">
        <ion-card>
          <ion-card-header>
            {{ project.title }}
          </ion-card-header>
          <ion-card-content>
            <ion-text class="subtitle">{{ project.subtitle }}</ion-text>
            <ion-text class="description">{{ project.description }}</ion-text>
            <ion-button *ngIf="project.githubUrl"
              >{{ project.githubUrl }}</ion-button
            >
            <ion-button *ngIf="project.viewUrl"
              >{{ project.viewUrl }}</ion-button
            >
            <a
              *ngFor="let skill of project.skillsUsed"
              target="_blank"
              [href]="skill.infoUrl"
            >
              <ion-chip [color]="getSkillColor(skill)">
                <ion-label>{{ skill.text }}</ion-label>
              </ion-chip>
            </a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <footer></footer>
</ion-content>
