<ion-app>
  <ion-header class="ion-text-uppercase">
    <ion-toolbar>
      <!-- Projects -->
      <ion-buttons
        slot="start"
        [routerLink]="['projects']"
        routerDirection="back"
      >
        <ion-text class="ion-text-center ion-padding-horizontal">
          Projects
        </ion-text>
        <ion-icon
          name="layers"
          class="ion-margin-left ion-hide-md-down"
        ></ion-icon>
      </ion-buttons>
      <!-- Home -->
      <ion-title class="ion-text-center">
        <span [routerLink]="['/']" routerDirection="root">
          <span class="ion-hide-sm-down">Wajeeh Misbah Khan</span>
          <span class="ion-hide-sm-up">WMK</span>
        </span>
      </ion-title>
      <!-- Contact Me -->
      <ion-buttons
        slot="end"
        [routerLink]="['contact-me']"
        routerDirection="forward"
      >
        <ion-icon name="call" class="ion-hide-md-down"></ion-icon>
        <ion-text class="ion-text-center ion-padding-horizontal">
          Contact Me
        </ion-text>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
