<ion-header class="ion-text-uppercase">
  <header></header>
</ion-header>
<ion-content>
  <!-- Introduction -->
  <ion-card class="ion-padding ion-margin">
    <ion-card-header class="left-spacing right-spacing">
      <ion-card-title>
        Hello, I'm <ion-text color="warning">Wajeeh</ion-text> - a full stack
        Web and Mobile Developer
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="left-spacing right-spacing">
      <ion-card-subtitle>
        I am a programming enthusiast and I've been coding small games from back
        in 2012. I learned JavaScript back then as well and have been
        professionally working in the field of Web Development since 2017.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <!-- Skills -->

  <!-- Footer -->
  <footer></footer>
</ion-content>
