<ion-header class="ion-text-uppercase">
  <header></header>
</ion-header>
<ion-content>
  <!-- Introduction -->
  <ion-card class="ion-padding ion-margin left-spacing right-spacing">
    <ion-card-header>
      <ion-card-title>
        Hello, I'm <ion-text color="warning">Wajeeh</ion-text> - a full stack
        Web and Mobile Developer
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>
        I am a programming enthusiast and I've been coding small games from back
        in 2012. I learned JavaScript back then as well and have been
        professionally working in the field of Web Development since 2017.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <!-- Skills -->
  <ion-card class="ion-margin left-spacing right-spacing">
    <ion-card-header class="ion-text-center">
      <ion-card-title>
        <h1>Skills</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row
        *ngFor="let skillTitle of skillTitles"
        class="ion-margin-vertical"
      >
        <ion-col size="12" class="ion-text-center ion-margin-bottom">
          <h1>{{ skillTitle }}</h1>
        </ion-col>
        <ion-col
          *ngFor="let skill of getSkillsByTitle(skillTitle)"
          size="6"
          size-md="3"
        >
          <ion-row class="ion-align-items-center">
            <ion-col size="3">
              <ion-img
                [src]="skill.pictureUrl"
                [alt]="skill.text"
                style="height: 32px;"
              ></ion-img>
            </ion-col>
            <ion-col size="9">
              <a [href]="skill.infoUrl" target="_blank" class="nostyle">
                <ion-text>{{ skill.text }}</ion-text>
              </a>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- Footer -->
  <footer></footer>
</ion-content>
